/******* Général ********/
*{
  font-family: "Raleway", "sans-serif";
  font-size: 16px;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  margin: 0.1rem 2rem;
  background-color: #FFFFFF;
  
}

h1,h2 {
  font-weight: 700;
  font-size: 1.4rem; /*22px*/
  color: #000000;
}

h3 {
  font-weight: 700;
  font-size: 1.1rem; /*18px*/ 
}

h3 a {
  font-weight: 700;
  font-size: 1.1rem;
  color: #000000;
}

h4 {
  font-weight: 700;
  font-size: 1rem; /*16px*/
  padding-left: 0.6rem;
}

section {
  margin: 1rem 0;
}

a, input {
  outline: 0;
  text-decoration: none;
}
/******* header ********/
.navMenu {
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap; 
}

/* logo Booki*/
#logo {
  margin-right: auto;
  width: 3.8rem;
  height: 1.2rem;
}

/* liens du menu */
.navMenu ul {
  display: flex;
  list-style: none; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.navMenu a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: black;
}

.navMenu a:hover {
  border-top: 2px solid #0065FC;
  color:#0065FC;
}
/*******  partie intro ********/
.intro {
  margin-top: 2rem;
}

#introTitre h1 {
  margin-bottom: 0;
}
#introSuite p {
  margin-top: 0.4rem;
}
/*******  Section recherche ********/
.recherche {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  background: #FFFFFF;
  width: 100%;
  
}
/* icone localisation de la partie recherche */
.recherche i {
  border-radius: 15px 0 0 15px;
  border: 2px solid #f2f2f2;
  background-color: #F2F2F2;
  font-size: 1.1rem;
  height: 3rem;
  padding: 1rem 1rem;
}

/* choix du lieu de la partie recherche */
.recherche input {
  /*supprime l'encadré du choix du lieu*/
  height: 3rem;
  border: 1px solid #f2f2f2;
  color: #000000;
}

#rechLieu {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.1rem;
  color:#000000;
}

#rechLieu::placeholder {
  font-weight: bold;
  color:black;
}
/* bouton submit de la partie recherche */
.recherche button {
  background: #0065FC;
  border: 1px solid #0065FC;
  color: #FFFFFF;
  border-radius: 0 1rem 1rem 0;
  height: 3rem;
  padding:14px 16px;
}

/* Icone recherche */
.texteIconeRecherche{
  font-weight: 700;
  font-size: 1.1rem;
}

.fas.fa-search{
  color: white;
  border: 0;
  background-color: inherit;
  font-size: 0.75rem;
  border-radius: 0 1rem 1rem 0;
  display: none;
}

/*******  Section Filtres ********/
.filtres {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #FFFFFF;
}

.headerFiltres {
  padding-right: 1rem;
}

.listeFiltres {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.listeFiltres :hover {
  background: #DEEBFF;
}

.chaqueFiltre {
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  font-weight: 700;
  font-size: 1.05rem;
  color: #000000;
  padding: 0.4rem 0.5rem ;
}

.chaqueFiltre i {
  color: #0065FC;
  padding: 0.3rem;
}

/*******  partie message info ********/
.infoMessage {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.infoMessage i {
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  font-size: 0.8rem;
}

/*******  Section  hébergements + les plus populaires ********/
.cartesHebergements {
  display: flex;
  justify-content: center;
  gap:20px;
}

/*** Partie Hébergements ***/
.hebergement { 
  display: flex;
  flex-direction: column;
  width:67%;
  border-radius: 1.6rem;
  background-color: #F2F2F2;
}
.hebergement .cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  padding: 0 1.2rem;
}

.hebergement .carte {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 31%;
  background: #FFFFFF;
  box-shadow: 0 0 1rem #b4b1b1;
  border-radius: 1.3rem;
  height: 13rem;
}

#headerHebergement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.2rem 0 ;
}

.hebergement .carte .imageHebergement {
  display: flex;
  width: 100%;
}

.hebergement .carte a {
  width: 100%;
  color: #000000;
}

.hebergement .carte img {
  display: flex;
  border: 0.25rem solid #FFFFFF;
  border-radius: 1.3rem 1.3rem 0 0;
  height: 8rem;
  width: 100%;
  object-fit: cover;
}

.hebergement .carteInfo {
  display: flex;
  flex-direction: column;
  padding-left: 0.7rem;
  color: #000000;
}
.hebergement .carte p {
  display:flex;
  justify-content: flex-start;
  width: 100%;
}

/*** Partie "les + populaires" ***/
.populaires {
  display: flex;
  flex-direction: column;
  width:33%;
  border-radius: 1.6rem;
  background-color: #F2F2F2;
  padding-bottom: 20px;
}

#headerPopulaires {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.2rem 0;
  color:#0065fc;
  }
    
/*conteneur des cartes populaires*/
.populaires .cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  gap: 20px; 
  width: 100%;
  padding: 0 1.2rem;
}

/*conteneur d'une carte populaire*/
.populaires .carte {
  display: flex;
  justify-content:center;
  box-shadow: 0 0 1rem #b4b1b1;
  background: #FFFFFF;
  border-radius: 1.3rem; 
  height: 9rem;
  width: 100%;
}

.populaires .carte a {
  display: flex;
  width: 100%;
}
.populaires .carte img {
display: flex;
border: 0.25rem solid #FFFFFF;
border-radius: 1.3rem 0 0 1.3rem;
width: 40%;
height: 9rem;
object-fit: cover;
}

.populaires .carteInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  height: 9rem;
  color: #000000;
}

.nomHebergement {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 0.96rem;
  padding-top: 0.5rem;
  margin:0;
}

.tarifHebergement {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 0.85rem;
  padding-top: 0.4rem;
  margin: 0;
}

.fas.fa-star {
  font-size: 0.60rem;
  display: flex;
  flex-wrap: wrap;
}
.etoileBleue {
  display: flex;
  flex-wrap: wrap;
  color:#0065FC;
  margin-top: 10px;
}
.etoileGrise {
  display: flex;
  flex-wrap: wrap;
  color: #F2F2F2;
}
#afficherPlus {
  padding: 1.2rem;
}

/******* Section Activités à Marseille ********/
.activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.activites .activite {
  display: flex;
  flex-direction: column;
  width: 23%;
  box-shadow: 0 0 1rem #b4b1b1;
  border-radius: 1.25rem;
}

.activites .activite a {
  color: #000000;
}

#headerActivites {
  display: flex;
  align-items: center;
}

.activite .imageActivite {
  display: flex;
  border-radius: 1.25rem 1.25rem 0 0;
  height: 23rem;
  width: 100%;
  object-fit:cover;
}

.activite .nomActivite {
  display: flex;
  align-items: center;
  height : 2.5rem;
  padding-left: 0.2rem;
}

/******* Section Footer ********/
.liensFooter {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  padding-right: 290px;
  padding-left: 50px;
  background: #F2F2F2;
  margin-top: 50px;
}

.colFooter p {
  font-weight: 700;
  font-size: 1.1rem;
}
.colFooter ul{
  padding: 0;
}
.colFooter a {
  color: #000000;
}
.colFooter li {
  list-style: none;
  padding: 0.2rem;
}

/*********************************************/
/*taille écran tablette (>=768px et <=992px) */
/*********************************************/
@media screen and (max-width:992px) {

  /* section filtres */
 .listeFiltres {
  gap: 1rem;
 }
  /* section hébergement */
  .hebergement {
    width: 100%;
  }
 
  .cartesHebergements {
    display: flex;
    flex-direction: column;
  }
  
   /* section populaires */
  .populaires {
    width: 100%;
  }

  .populaires .cartes {
    padding-bottom: 1rem;
  }

  .populaires .carte {
    width: 30%;
  }
  .populaires .carte img {
      width: 50%;
  }
  /* section activités à Marseille*/
  .activites {
    display: flex;
    padding: 0;
  }

  .activites .activite {
    width: 23%;
  }

  .activite .imageActivite {
    height: 16.8rem;
  }

  /* section footer */
  .liensFooter {
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
  }

  .colFooter p {
    font-weight: 700;
    font-size: 1.1rem;
  }

}
/******************************************/
/*taille écran mobile (inférieur à 768px) */
/******************************************/
@media screen and (max-width:768px) {
  body {
    margin: 0 ;
    
  }

  .recherche, .intro, .infoMessage, .filtres, .activites, .activites, #headerActivites {
    padding: 0 1.2rem;
  }

  /*section navigation */
  #logo {
    margin-top: 1rem;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
  }

   .navMenu ul {
    padding: 0;
    width: 100%;
  }

  .navMenu li {
    width: 50%;
  }

  .navMenu a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }
  .navMenu a:hover {
    border-bottom: 2px solid #0065FC;
    border-top: transparent;
    padding-bottom: 14px; /* supprime le décalage vdu lien vers le haut */
  }

  .liensNav {
    width:100%
  }

  /*section recherche */
 .fas.fa-search {
   display: inline;
 }

 
  .texteIconeRecherche {
    display: none;
  }

  .recherche button {
    padding: 0;
  }
  
  /*section Filtres */
  .filtres {
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* section hébergement */    
  .hebergement {
    order: 1;     /*passe "les plus populaires" au-dessus de "hébergement" */
    background: #FFFFFF;
    margin-bottom: 2rem;
  }

  .hebergement .cartes .carte {
    width: 100%;
  }

  /* section populaires */
  .populaires {
    border-radius: 0; 
  }

  .populaires .cartes .carte {
    width: 100%;
  }
      
  #afficherPlus {
    display: none;
  }

  /* section activités à Marseille */
  .activites {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activites .activite {
    width: 100%;
  }

  .activite .imageActivite {
    height: 10rem;
  }

  /* section footer */
  .liensFooter {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
  }
  /* section footer */
  .colFooter p {
    font-weight: 700;
    font-size: 1.1rem;
  }

}

