/******* Général ********/
*{
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  margin: 0.1rem 3rem;
  background-color: #FFFFFF;
  font-family: "Raleway", "sans-serif";
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0.3rem;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}

h3 {
  font-weight: 700;
  font-size: 18px; 
}

h3 a {
    color: #000000;
}

h4 {
  font-weight: 700;
  font-size: 17px;
  padding-left: 0.6rem;
}

section {
  margin: 1rem 0;
}

a {
  outline: 0;
  text-decoration: none;
}
/******* header ********/
.navMenu {
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap; 
}

/* logo Booki*/
#logo {
  margin-right: auto;
  width: 3.8rem;
  height: 1.2rem;
}

/* liens du menu */
.navMenu ul {
  display: flex;
  list-style: none; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.navMenu a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: black;
}

.navMenu a:hover {
  border-top: 2px solid #0065FC;
  color:#0065FC;
}

/*******  Section  intro ********/
.intro {
  margin-top: 2rem;
}

.intro p {
  margin: 0;
}

/*******  Partie recherche ********/
.recherche {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  background: #FFFFFF;
  width: 100%;
}
/* icone localisation de la partie recherche */
.recherche i {
  border-radius: 15px 0 0 15px;
  border: 2px solid #f2f2f2;
  background-color: #F2F2F2;
  font-size: 1.1rem;
  height: 3rem;
  padding: 1rem 1rem;
}

/* choix du lieu de la partie recherche */
#rechLieu {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.1rem;
  color:#000000;
  height: 3rem;
  border: 1px solid #f2f2f2;
  outline: 0;
  text-decoration: none;
}

#rechLieu::placeholder {
  font-weight: bold;
  color:#000000;
  opacity: 1;
}
/* bouton submit de la partie recherche */
.recherche button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0065FC;
  border: 1px solid #0065FC;
  color: #FFFFFF;
  border-radius: 0 1rem 1rem 0;
  height: 3rem;
  padding:14px 16px;
}

/* Icone recherche */
.texteIconeRecherche{
  font-weight: 700;
  font-size: 1.1rem;
}

.fas.fa-search{
  color: white;
  border: 0;
  background-color: inherit;
  font-size: 0.75rem;
  border-radius: 0 1rem 1rem 0;
  display: none;
}

/*******  Section Filtres ********/
.filtres {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #FFFFFF;
}

.headerFiltres {
  padding-right: 1rem;
}

.listeFiltres {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.listeFiltres :hover {
  background: #DEEBFF;
}

.chaqueFiltre {
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  font-weight: 700;
  font-size: 1.05rem;
  color: #000000;
  padding: 0.4rem 0.5rem ;
}

.chaqueFiltre i {
  color: #0065FC;
  padding: 0.3rem;
}

/*******  partie message info ********/
.infoMessage {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.infoMessage i {
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  font-size: 0.8rem;
}

/*******  Partie  hébergements + les plus populaires ********/
.cartesHebergements {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
.carteInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000000;
}

.nomHebergement {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 0.2rem;
  margin: 0;
}

.tarifHebergement {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 1rem;
  padding-top: 0.4rem;
  margin: 0;
}

.fas.fa-star {
  font-size: 0.60rem;
  display: flex;
  flex-wrap: wrap;
}

.etoileBleue {
  display: flex;
  color: #0065FC;
}

.etoileGrise {
  display: flex;
  color: #F2F2F2;
}

/*** Section Hébergements ***/
.hebergement { 
  width:67%;
  border-radius: 1.6rem;
  background-color: #F2F2F2;
  padding-top: 1rem;
}
.hebergement .cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 0 2.5rem;
}

.hebergement .carte {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 31%;
  background: #FFFFFF;
  box-shadow: 0 4px 20px #d9d9d9;
  border-radius: 1.3rem;
  height: 14rem;
}

#headerHebergement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2.4rem;
}

.hebergement .carte a {
  width: 100%;
  color: #000000;
}

.hebergement .carte img {
  display: flex;
  border: 0.25rem solid #FFFFFF;
  border-radius: 1.3rem 1.3rem 0 0;
  height: 8.5rem;
  width: 100%;
  object-fit: cover;
}

.hebergement .carteInfo {
  display: flex;
  justify-content: space-around;
  
  height:5.5rem;
}
.hebergement p {
  padding-left:0.5rem;
}
/*** Section "les + populaires" ***/
.populaires {
  display: flex;
  flex-direction: column;
  width:30%;
  border-radius: 1.6rem;
  background-color: #F2F2F2;
  padding-bottom: 20px;
  padding-top: 1rem;
  padding: 1rem 0 1.5rem 0;
}

#headerPopulaires {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.2rem 0;
  color:#0065fc;
  padding: 0rem 2.4rem;
  }
    
/*conteneur des cartes populaires*/
.populaires .cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  gap: 2rem; 
  width: 100%;
  padding: 0 2.3rem;
}

/*conteneur d'une carte populaire*/
.populaires .carte {
  display: flex;
  justify-content:center;
  box-shadow: 0 4px 20px #d9d9d9;
  background: #FFFFFF;
  border-radius: 1.3rem; 
  height: 9.5rem;
  width: 100%;
}

.populaires .carte a {
  display: flex;
  width: 100%;
}
.populaires .carte img {
display: flex;
border: 0.25rem solid #FFFFFF;
border-radius: 1.3rem 0 0 1.3rem;
width: 40%;
height: 9.5rem;
object-fit: cover;
}

.populaires .carteInfo {
  padding-top: 0.5rem;
  width:60%
}

#afficherPlus {
  padding: 0rem 2.4rem;
}

/******* Section Activités à Marseille ********/
.activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activites .activite {
  display: flex;
  width: 22%;
  box-shadow: 0px 5px 10px #d9d9d9;  
  border-radius: 1.25rem;
}

.activites .activite a {
  color: #000000;
  width: 100%;
}

#headerActivites {
  display: flex;
  align-items: center;
}

.activite .imageActivite {
  display: flex;
  align-items: center;
  border-radius: 1.25rem 1.25rem 0 0;
  height: 19rem;
  width:100%;
  object-fit:cover;
}

.activite .nomActivite {
  display: flex;
  align-items: center;
  height : 2.5rem;
  padding-left: 0.2rem;
}

/******* Footer ********/
.liensFooter {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 1.25rem 18rem 1.25rem 4.3rem;
  background: #F2F2F2;
  margin-top: 3.8rem;
}

.colFooter p {
  font-weight: 700;
  font-size: 1.1rem;
}
.colFooter ul{
  padding: 0;
}
.colFooter a {
  color: #000000;
}
.colFooter li {
  list-style: none;
  padding: 0.2rem;
}

/*********************************************/
/*taille écran tablette (>=768px et <=992px) */
/*********************************************/
@media screen and (max-width:992px) {

  /* section hébergement */
  .hebergement {
    width: 100%;
    padding-bottom: 1.2rem;
  }
 
  .cartesHebergements {
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  
   /* section populaires */
  .populaires {
    width:100%;
    margin:0;
  }
  .populaires .cartes {
    padding: 0 2.5rem;  
    justify-content: space-between;
    gap: 0rem;
    padding-bottom: 1.5rem;
  }
  
  .populaires .carte {
      width: 31%;
    }

  /* section activités à Marseille*/
  #headerActivites {
    padding-top: 2rem;
  }

  .activites {
    padding: 0;
  }

  .activites .activite {
    width: 23%;
  }

  .activite .imageActivite {
    height: 17rem;
  }

  /* section footer */
  .liensFooter {
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
  }

  .colFooter p {
    font-weight: 700;
    font-size: 1.1rem;
  }
}

/******************************************/
/*taille écran mobile (inférieur à 768px) */
/******************************************/
@media screen and (max-width:768px) {
  body {
    margin: 0 ;
  }

 .intro, .recherche, .infoMessage, .filtres, .listeFiltres, .activites, .activites, #headerActivites, #headerHebergement, #headerPopulaires {
    padding: 0.1rem 1.2rem;
  }

  /*section navigation */
  #logo {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
  }

   .navMenu ul {
    padding: 0;
    width: 100%;
  }

  .navMenu li {
    width: 50%;
  }

  .navMenu a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }
  .navMenu a:hover {
    border-bottom: 2px solid #0065FC;
    border-top: transparent;
    padding-bottom: 14px; 
  }

  .liensNav {
    width:100%;
  }

  /*Section intro */
  .intro, h1 {
  margin-top: 0;
}
  /*section recherche */
 .fas.fa-search {
   display: inline;
 }

 .recherche {
    display: flex;
    justify-content: center;
  }
  #rechLieu {
  display:flex;
  flex: auto;
  width:30%;
}
  .texteIconeRecherche {
    display: none;
  }

  .recherche button {
    display: flex;
    padding: 0;
  }
  
  /*section Filtres */
  .filtres {
    padding-left: 0rem;
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .headerFiltres {
    padding-left: 1.2rem;
  }

  .listeFiltres {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
  }
  
  .chaqueFiltre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex:auto;
    width :47%;
    padding: 0.4rem 0.1rem;
  }

  .chaqueFiltre span {
    font-size: 0.8rem;
  }

/* partie info */
  .infoMessage {
    display: flex;
    align-items:baseline; /*aligne icone et texte*/
    padding-bottom: 1rem;
  }

  .infoMessage i {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    color: #0065FC;
    font-size: 0.8rem;
  }

  /* section hébergement */    
  .hebergement {
    order: 1;     /*passe "les plus populaires" au-dessus de "hébergement" */
    background: #FFFFFF;
    margin: 0;
    margin-top:0;
  }
  .hebergement .cartes {
    padding: 0 1.2rem;
  }
  .hebergement .cartes .carte {
    width: 100%;
  }

  /* section populaires */
  .populaires {
    border-radius: 0; 
    padding :0 0 1.5rem 0;
  }
  .populaires .cartes {
  padding: 0 1.2rem;
  gap:1.2rem;
}
  .populaires .cartes .carte {
    width: 100%;
  }
      
  #afficherPlus {
    display: none;
  }

  /* Section activités à Marseille */
  .activites {
    gap:1.2rem;
  }

  .activites .activite {
    width: 100%;
  }

  .activite .imageActivite {
    height: 10rem;
  }

  /* Section footer */
  .liensFooter {
    display: flex;
    flex-direction: column;
    padding: 2rem ;
  }

  .colFooter p {
    font-weight: 700;
    font-size: 1.1rem;
  }

}

